body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  width: 90%;
  max-width: 400px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

form label,
form input,
form textarea,
form select {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Estilos para los botones */
button {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilos para los botones dentro de formularios */
form button {
  width: 100%;
  max-width: 200px;
}

/* Estilos para los botones dentro de la tabla */
table button {
  margin: 3px;
  width: auto;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
}

table td.actions {
  text-align: center;
}

/* Estilos para la navegación de la tabla */
#pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#prev-table,
#next-table {
  background-color: #f0f0f0;
  border: none;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: block;
}

@media screen and (max-width: 600px) {
  #prev-table,
  #next-table {
    font-size: 1rem;
  }
}

/* Estilos para el formulario en pantallas pequeñas */
@media screen and (max-width: 320px) {
  form label,
  form input,
  form textarea,
  form select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  form button {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

/* Estilos adicionales para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
  form {
    width: 70%;
    max-width: 800px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  form {
    width: 90%;
    max-width: 600px;
  }
}

/* Estilos para la tabla en pantallas pequeñas */
@media screen and (max-width: 600px) {
  table th,
  table td {
    font-size: 11px;
  }
}

.edit-btn,
.delete-btn {
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 3px;
}

#search-container {
  text-align: right;
  margin-bottom: 20px;
}

#search-form {
  text-align: initial;
  display: inline-block;
}

#search-form input[type="text"] {
  width: 200px;
}

#search-form button {
  vertical-align: bottom;
  margin-left: 10px;
}

#table-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
