body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h4{
  font-family: 'Babylonica', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Lancelot', cursive; 
}